# Editor and general
.*.swp
build/

# Arduino
.ardi

# Python
*.pyc
__pycache__/
python_venv/

# KiCad
*-backups
*-cache
*.bck
*.drl
*.gbl
*.gbrjob
*.gbo
*.gbs
*.gm1
*.gtl
*.gto
*.gts
*.kicad_prl
*.lck
*.zip
plots/
