if [[ -f python_venv/bin/activate ]]; then
  source python_venv/bin/activate
  unset PS1  # https://github.com/direnv/direnv/wiki/PS1
  if [[ "$(pio --version)" =~ ^"PlatformIO Core, version "([a-z0-9.]+)$ ]]; then
    export PLATFORMIO_CORE_DIR="$HOME/.platformio-${BASH_REMATCH[1]}"
  fi
fi
